DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54333/foodtrucks?schema=public"
CLERK_SECRET_KEY="sk_test_example"
CLERK_JWT_KEY=""
CLERK_JWT_TEMPLATE=""
CLERK_AUDIENCE=""
CLERK_AUTHORIZED_PARTIES=""
